@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
    padding:0px;
    margin:0px;
    background-size:cover;
    width:100vw;
    height:100vh;
    overflow:hidden;
    font-family: "Figtree", sans-serif;
}
#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background:#050503;
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#spinner {
    animation: rotate 0.56s infinite linear;
    width:50px;
    height:50px;
    border:12px solid #fefff3;
    border-bottom:12px solid #050503;
    border-radius:50%;
    margin:0;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
#box {
    width:100vw;
    height:100vh;
    z-index:9;
    position:fixed;
    top:0;
}
#box div {
    width:16.66vw;
    height:100%;
    display:inline-block;
}
.box1 {
    background:#050503;
}
.box2 {
    background:#050503;
    margin-left:-5px;
}
#menu {
    width:100%;
    text-align:center;
    margin:6vh 0px;
    display:none;
}
#menu a {
    margin:0px 6%;
    font-size:19px;
    color:#fefff3;
    text-decoration:underline;
}
#middle {
    width:100vw;
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    position:fixed;
    top:0;
    text-align:center;
    z-index:1;
    color:#fefff3;
    padding-bottom:10vh;
}

#middle::after{
    width: 100%;
    height: 100%;
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0,0.3)
}

#middle .caption {
    position: relative;
    z-index: 20;
}

#middle video {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 5;
    object-fit: cover;
    font-family: 'object-fit: cover';
}
#middle h1 {
    color:#fefff3;
    font-size:6em;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin: 0px;
    text-transform: uppercase;
}

#middle h2 {
    color:#fefff3;
    font-size:1.75em;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 1vh auto;
    
}

#middle .socials {
    position: relative;
    z-index: 20;
}

#middle .texture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    background: url(Assets/texture.png);
}
#about {
    width:10vw;
    height:10vw;
    text-align:center;
    font-size:25px;
    transform:rotate(-90deg);
    background:transparent;
    color:#fefff3;
    position:fixed;
    left:0;
    bottom:40vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:0px 0px 100px 100px;
}
#work {
    width:10vw;
    height:10vw;
    text-align:center;
    font-size:25px;
    transform:rotate(90deg);
    background:transparent;
    color:#fefff3;
    position:fixed;
    right:0;
    bottom:40vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:0px 0px 100px 100px;
}

#about:hover {
    background:#fefff300;
    color: #faf33e;
    cursor:pointer;
}
#work:hover {
    background:#fefff300;
    color: #faf33e;
    cursor:pointer;
}

#middle table {
    width:100%;
    margin:6vh auto;
    text-align:center;
    font-size:25px;
    background:transparent;
    color:#fefff3;
    position:fixed;
    bottom:0;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#middle table tr td {
    text-align:center;
    padding: 2vh;
}
.social {
    color:#fefff3;
    font-size:22px;
    border-radius:50%;
    transition:0.4s ease-in-out;
    margin:0px 8px;
    text-align:center;
}
.social:hover { 
    cursor: pointer;
    color:#faf33e;
}
.container {
    width:90vw;
    height:90vh;
    padding:5vh 5vw;
    background:#fefff3;
    color:#050503;
    z-index:12;
    position:fixed;
    max-height:100vh;
    overflow-y:auto;
    display:none;
}

#work_container .texture {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url(Assets/texture_wb.png);
    z-index:10;
    margin: 0;
}

#about_container .texture {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url(Assets/texture_wb.png);
    z-index:10;
    margin: 0;
}

.info {
    position: absolute;
    z-index:15;
    margin: 0;
}
.container div {
    transition:0.4s ease-in-out;
}
.container div:hover {
    cursor:pointer;
}
.container section {
    margin:0px 20px 80px 0px;
}


#used div{
    font-size:14px !important;
    display:inline-block;
    padding:8px 10px;
    border:2px solid #fefff3;
    margin:0px 10px;
    border-radius:50px;
}
#used:hover {
    cursor:text;
}
#used div:hover {
    cursor:text;
}
.container h1 {
    font-size:60px;
    text-decoration:underline;
}
.container p {
    font-size:21px;
}
.btn_one {
    font-size:18px;
    font-family: 'Josefin Sans', sans-serif;
    color:#fefff3;
    background:transparent;
    border:3px solid #fefff3;
    padding:8px 40px;
    border-radius:80px;
    font-weight:bold;
    margin:2vh 10px;
    transition:0.4s ease-in-out;
}
.btn_one:hover {
    cursor:pointer;
    color:#faf33e;
    background:#fefff3;
}
.btn_two {
    font-size:18px;
    font-family: 'Josefin Sans', sans-serif;
    color:#faf33e;
    background:#fefff3;
    border:3px solid #fefff3;
    padding:8px 40px;
    border-radius:80px;
    font-weight:bold;
    margin:2vh 10px;
    transition:0.4s ease-in-out;
}
.btn_two:hover {
    cursor:pointer;
    padding:8px 60px;
}
.container form input {
    width:46%;
    margin:20px 1%;
    background:transparent;
    border:0px;
    border-bottom:3px solid rgba(255,255,255,0.5);
    padding:8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    transition:0.4s ease-in-out;
    color:#fefff3;
    font-weight:bold;
}
.container form textarea {
    width:96%;
    margin:20px 1%;
    padding:8px 10px;
    border:0px;
    border-bottom:3px solid rgba(255,255,255,0.5);
    padding:8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    background:transparent;
    resize:none;
    transition:0.4s ease-in-out;
    color:#fefff3;
    font-weight:bold;
}
.container form input:focus {
    outline:none;
    border-bottom:3px solid rgba(255, 255, 255,1);
}
.container form textarea:focus {
    outline:none;
    border-bottom:3px solid rgba(255, 255, 255,1);
}
::placeholder {
    color:#fefff3;
}
#footer {
    color:#fefff3;
    width:92vw;
    padding:5vh 4vw;
    text-align:right;
    position:fixed;
    z-index:1;
    bottom:0;
    font-size:16px;
    font-weight:bold;
}
#footer a {
    color:#faf33e;
}

::selection {
	color: #fefff3;
	background: #050503;
}

.img-table {
    width: 150px;
}

.bio {
    grid-column: 2 / span 15;
    display: grid;
    grid-template-columns: repeat(15, minmax(auto, 60px));
    grid-gap: 70px;
}

.bio_info {
    grid-column-end: span 7;
    display: flex;
    flex-direction: column;
}

.cards {
    grid-column: 2 / span 15;
    display: grid;
    grid-template-columns: repeat(15, minmax(auto, 60px));
    grid-gap: 60px;
  }
  
  .card {
    grid-column-end: span 5;
    display: flex;
    flex-direction: column;
  }
  
  .card__image-container {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
  }
  
  .card__image-container img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .card__content {
    padding: 0px;
    display: flex;
  }
  
  .card__title {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 1em;
    font-weight: bold;
  }
  
  .card__info {
    margin-left: auto;
    margin-right: 5px;
    margin-top: 0.85em;
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
  }
  
  .card__price {
    margin-left: auto;
    padding: 5px 20px;
    background-color: #050503;
    border-radius: 20px;
  }
  
  @media only screen and (max-width: 1000px) {
    .card {
      grid-column-end: span 6;
    }
    .bio {
        grid-column: 2 / span 6;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
      }

    .bio_info {
        grid-column-end: span 4;
    }
  }
  
  @media only screen and (max-width: 700px) {
    main {
        grid-template-columns: 10px repeat(6, 1fr) 10px;
        grid-gap: 10px;
      }
      .cards {
        grid-column: 2 / span 6;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
      }
      .card {
        grid-column-end: span 6;
      }
  
      .bio {
          grid-column: 2 / span 6;
          grid-template-columns: repeat(6, 1fr);
          grid-gap: 20px;
        }
  
      .bio_info {
          grid-column-end: span 6;
      }
  }
  
  @media only screen and (max-width: 500px) {
    main {
      grid-template-columns: 10px repeat(6, 1fr) 10px;
      grid-gap: 10px;
    }
    .cards {
      grid-column: 2 / span 6;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 20px;
    }
    .card {
      grid-column-end: span 6;
    }

    .bio {
        grid-column: 2 / span 6;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
      }

    .bio_info {
        grid-column-end: span 6;
    }

#middle h1 {
        font-size: 3.75em;
        margin: 0 0.5vh;
    }
   #middle h2 {
        font-size: 1em;
    }
  }

@media (max-width: 800px){ 
    #about {
        display:none;
    }
    #contact {
        display:none;
    }
    #work {
        display:none;
    }
    #middle h1 {
        margin: 0 0.5vh;
    }
    #middle h2 {
        font-size:1.25em;
    }
    #footer {
        text-align:center;
    }
    .container form input {
        width:90%;
    }
    .container form textarea {
        width:90%;
    }
    #menu {
        display:inline-block;
        z-index: 15;
    }
    #onlywide {
        display:none !important;
    }
    .box2 {
        margin-left:0px !important;
    }
    #box div {
        width:100%;
    }
}
